@font-face {
    font-family: 'FLEXBOX-icons';
    src:
        url('~flexbox-icon-font/fonts/FLEXBOX-icons-Regular.woff') format('woff'),
        url('~flexbox-icon-font/fonts/FLEXBOX-icons-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.ze-icon {
    font-family: 'FLEXBOX-icons';
    display: inline-block;
    text-transform: none !important;
}
.ze-icon::before {
    display: block;
}

.ze-icon_chevron-left::before {
    content: '\1f03';
    transform: rotate(180deg);
}
.ze-icon_chevron-right::before {
    content: '\1f03';
}
.ze-icon_arrow-left::before {
    content: '\1f25';
    transform: rotate(180deg);
}
.ze-icon_arrow-right::before {
    content: '\1f25';
}
.ze-icon_hint::before {
    content: '\1f11';
}
.ze-icon_edit::before {
    content: '\1f0e';
}
.ze-icon_trash::before {
    content: '\1f21';
}
.ze-icon_image::before {
    content: '\1f1b';
}
.ze-icon_logout::before {
    content: '\1f15';
}
.ze-icon_upload::before {
    content: '\1f22';
}
.ze-icon_close::before {
    content: '\1f04';
}
.ze-icon_check::before {
    content: '\1f02';
}
.ze-icon_plus::before {
    content: '\1f00';
}
.ze-icon_location::before {
    content: '\1f14';
}
.ze-icon_mail::before {
    content: '\1f0f';
}
.ze-icon_phone::before {
    content: '\1f20';
}
.ze-icon_fax::before {
    content: '\1f10';
}
.ze-icon_person::before {
    content: '\1f23';
}
.ze-icon_home::before {
    content: '\1f1a';
}
.ze-icon_screen-desktop::before {
    content: '\1f05';
}
.ze-icon_screen-tablet::before {
    content: '\1f19';
}
.ze-icon_screen-mobile::before {
    content: '\1f18';
}
.ze-icon_escape::before {
    content: '\1f26';
}
.ze-icon_enter::before {
    content: '\1f08';
}
.ze-icon_video::before {
    content: '\1f24';
}
.ze-icon_announcement::before {
    content: '\1f01';
}
