@font-face {
    font-family: 'zedach-icons';
    src: url('./fonts/zedach-icons.woff') format('woff'),
        url('./fonts/zedach-icons.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.ze-icon {
    font-family: 'zedach-icons';
}
.ze-icon::before {
    display: block;
}

.ze-icon_arrow-left::before {
    content: 'A';
}
.ze-icon_arrow-right::before {
    content: 'B';
}
.ze-icon_light-bulb::before {
    content: 'C';
}
.ze-icon_edit::before {
    content: 'D';
}
.ze-icon_trash::before {
    content: 'E';
}
.ze-icon_image::before {
    content: 'F';
}
.ze-icon_logout::before {
    content: 'G';
}
.ze-icon_upload::before {
    content: 'H';
}
.ze-icon_close::before {
    content: 'I';
}
.ze-icon_check::before {
    content: 'J';
}
.ze-icon_plus::before {
    content: 'K';
}
.ze-icon_location::before {
    content: 'L';
}
.ze-icon_mail::before {
    content: 'M';
}
.ze-icon_phone::before {
    content: 'N';
}
.ze-icon_fax::before {
    content: 'O';
}
.ze-icon_person::before {
    content: 'P';
}
.ze-icon_home::before {
    content: 'Q';
}
.ze-icon_screen-desktop::before {
    content: 'S';
}
.ze-icon_screen-tablet::before {
    content: 'T';
}
.ze-icon_screen-mobile::before {
    content: 'U';
}
