@font-face {
    font-family: 'zedach-icons';
    src: url('./fonts/zedach-icons.woff') format('woff'),
        url('./fonts/zedach-icons.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
