.icon {
    font-family: 'zedach-icons';
}
.icon::before {
    display: block;
}

.icon_arrow-left::before {
    content: 'A';
}
.icon_arrow-right::before {
    content: 'B';
}
.icon_light-bulb::before {
    content: 'C';
}
.icon_edit::before {
    content: 'D';
}
.icon_trash::before {
    content: 'E';
}
.icon_image::before {
    content: 'F';
}
.icon_logout::before {
    content: 'G';
}
.icon_upload::before {
    content: 'H';
}
.icon_close::before {
    content: 'I';
}
.icon_check::before {
    content: 'J';
}
.icon_plus::before {
    content: 'K';
}
.icon_location::before {
    content: 'L';
}
.icon_mail::before {
    content: 'M';
}
.icon_phone::before {
    content: 'N';
}
.icon_fax::before {
    content: 'O';
}
.icon_person::before {
    content: 'P';
}
.icon_home::before {
    content: 'Q';
}
.icon_screen-desktop::before {
    content: 'S';
}
.icon_screen-tablet::before {
    content: 'T';
}
.icon_screen-mobile::before {
    content: 'U';
}
